.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1199px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
